# 生成 source map
GENERATE_SOURCE_MAPS=false

VITE_BUILD_POPUP=true
VITE_BUILD_OPTIONS=false
VITE_BUILD_SIDEPANEL=false
VITE_BUILD_DEVTOOLS=false

# 内容域名
VITE_CONTENT_DOMAIN=Radius,Zentao,Mria

# 应用模块
VITE_APP_DOMAIN=pianoEffect,textSelectionToolbar,weather,adBlocker

# 加密文件 map
ENCRYPT_FILE_MAP=false
VITE_FILE_MAP_KEY=extension_default_key_32bytes_1234567890abcdef

# 应用密钥
VITE_APP_SECRET=extension_default_SECRET_32bytes_1234567890abcdef
