# 当前环境
NODE_ENV=development
VITE_APP_ENV=development

# API 配置
VITE_API_BASE_URL=http://localhost:3000
VITE_API_TIMEOUT=30000

# 调试配置
VITE_DEBUG=true
VITE_LOG_LEVEL=debug

# 功能开关
VITE_ENABLE_MOCK=true
VITE_ENABLE_DEVTOOLS=true
GENERATE_SOURCE_MAPS=true

# 页面打包开关（仅接受 true / false，默认 true）
VITE_BUILD_POPUP=true
VITE_BUILD_OPTIONS=true
VITE_BUILD_SIDEPANEL=true
VITE_BUILD_DEVTOOLS=true

# 内容域名
CONTENT_DOMAIN=Radius,Zentao,Mria,Qapro,Teach,Lanhuapp,Portainer

# 应用模块
APP_DOMAIN=sidebar,floatingball,pianoEffect,textSelectionToolbar,componentCapture,errorMonitor,menu


# 其他
VITE_DEV_SERVER_PORT=5173

ENCRYPT_FILE_MAP=true
VITE_FILE_MAP_KEY=1234567890123456

# 应用密钥
VITE_APP_SECRET=1234567890123456
