# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Extension
extension/node_modules
extension/package-lock.json
extension/yarn.lock
extension/dist
extension/dist-service
extension/dist-ssr
extension/src/plugins/live2d-widget
extension/src/auto-imports.d.ts
extension/src/components.d.ts
extension/rust-wasm/target
extension/rust-wasm/pkg
extension/src/pages/study*
extension/src/deps.json

# Backend

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.trae
.codex

test-*
!test/*

*.svs
*.zip