# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
package-lock.json
dist
dist-service
dist-ssr
*.local
.deepseek-service
src/plugins/live2d-widget
src/auto-imports.d.ts
src/components.d.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.trae
.codex

src/deps.json
test-*
!test/*
src/pages/study*
*.svs
rust-wasm/target
rust-wasm/pkg
