@use "sass:map";
// 变量定义
$bg-color: #161b29;
$pink: #e645d0;
$cyan: #17e1e6;
$container-size: 20vw;
$bar-height: 5vw;
$bar-width: 2vw;

// 基础布局
.flower-loading-preview {
  position: relative;
  min-height: 240px;
  width: 100%;
  overflow: hidden;
  background: $bg-color;

  .container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .item-container {
    width: $container-size;
    height: $container-size;
    position: absolute;
    inset: 0;
    margin: auto;
    overflow: hidden;
    animation: flower-loading-container 5s linear infinite;
  }

  .common {
    height: $bar-height;
    max-height: 100%;
    overflow: auto;
    width: $bar-width;
    margin: auto;
    max-width: 100%;
    position: absolute;
    background-color: transparent;
    border-radius: 0vw 10vw 0vw 10vw;
    box-shadow:
      inset 0vw 0vw 0vw 0.1vw $pink,
      0vw 0vw 1.5vw 0vw $pink;
  }

  $positions: (
  1: (
    left: 0,
    right: 0,
    top: 0,
    bottom: 7.5vw,
  ),
  2: (
    left: 5.5vw,
    right: 0,
    top: 0,
    bottom: 5.5vw,
  ),
  3: (
    left: 7.5vw,
    right: 0,
    top: 0,
    bottom: 0,
  ),
  4: (
    left: 5.5vw,
    right: 0,
    top: 5.5vw,
    bottom: 0,
  ),
  5: (
    left: 0,
    right: 0,
    top: 7.5vw,
    bottom: 0,
  ),
  6: (
    left: 0,
    right: 5.5vw,
    top: 5.5vw,
    bottom: 0,
  ),
  7: (
    left: 0,
    right: 7.5vw,
    top: 0,
    bottom: 0,
  ),
  8: (
    left: 0,
    right: 5.5vw,
    top: 0,
    bottom: 5.5vw,
  ),
  );

  @each $name, $props in $positions {
    .item#{$name} {
      transform: rotate(var(--rotate));
      left: map.get($props, left);
      right: map.get($props, right);
      top: map.get($props, top);
      bottom: map.get($props, bottom);
      animation: flower-loading-item-#{$name} 5s var(--delay) ease infinite;
    }

    @keyframes flower-loading-item-#{$name} {
      0%, 100% { }
      50% {
        background: transparent;
        box-shadow:
          inset 0vw 0vw 0vw 0.1vw $cyan,
          0vw 0vw 1.5vw 0vw $cyan;
      }
    }
  }

  .bar {
    width: 12vw;
    height: 0.25vw;
    position: absolute;
    inset: 0;
    top: 16vw;
    margin: auto;
    overflow: hidden;
    background: $pink;
  }

  .progress {
    width: 12vw;
    height: 0.5vw;
    position: absolute;
    inset: 0;
    margin: auto;
    overflow: hidden;
    background: $cyan;
    animation: flower-loading-progress var(--progress-delay, 2.5s) linear;
  }

  @keyframes flower-loading-container {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
  }

  @keyframes flower-loading-progress {
    0% { left: -24vw; }
    100% { left: 0; }
  }

  .fade-enter-active,
  .fade-leave-active { transition: all 2s ease; }

  .fade-enter-from,
  .fade-leave-to { opacity: 0; }
}
